<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aleksei Aliapkin - FrontEnd developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="dynamic-mode">
    <noscript>You need to enable JavaScript to view this site.</noscript>

    <div id="shader-canvas-container"></div>

    <ul class="nav">
      <li class="nav_item" id="menu_home">home</li>
      <li class="nav_spacer"></li>
      <li class="nav_item" id="menu_about">about</li>
      <li class="nav_spacer"></li>
      <li class="nav_item" id="menu_works">works</li>
      <li class="nav_spacer"></li>
      <li class="nav_item" id="menu_contacts">contacts</li>
    </ul>

    <div class="mouse__container">
      <div class="mouse__mouse">
        <div class="mouse__wheel"></div>
      </div>
      <div class="mouse__label">scroll</div>
    </div>

    <div class="scroller">
      <div class="hero-page">
        <div class="hero-page__left">
          <div class="hero-page__background"></div>
          <div class="hero-section">
            <div class="logo-group__logo-container">
              <div class="logo-group__logo-aspect" id="logo-container"></div>
            </div>

            <h1 class="hero-section__title">
              The standard chunk of Lorem Ipsum used
            </h1>

            <div class="avatar-group">
              <div class="avatar-group___titles">
                <h2 class="avatar-group___name">Aleksei Aliapkin</h2>
                <!-- prettier-ignore -->
                <h2 class="avatar-group___job">frontend<br>developer</h2>
              </div>
              <div class="avatar-group__image__container">
                <div class="avatar-grop__image"></div>
              </div>
            </div>

            <div class="hero-section__button-container">
              <button class="btn btn_primary" id="contacts-button">
                Contact me
              </button>
              <a target="_blank" href="/assets/cv/cv.pdf">
                <button class="btn btn_secondary">Download CV</button></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="about-page">
        <div class="about-section">
          <div class="about-section__text-wrapper">
            <h2 class="about-section__header">
              Hi, my name is Aliapkin Aleksei
            </h2>
            <p class="about-section__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              nemo, dolore iusto placeat maxime voluptates quidem accusamus
              perferendis asperiores. Obcaecati nam deleniti fugit consequuntur
              minus libero placeat dolorum molestiae necessitatibus minima
            </p>
          </div>
          <div class="about-section__skills-wrapper">
            <h2 class="about-seciton__skills-header">Key skills</h2>
            <div class="skills__wrapper">
              <div class="skills__item">Vue</div>
              <div class="skills__item">Vuex</div>
              <div class="skills__item">React</div>
              <div class="skills__item">Typescript</div>
              <div class="skills__item">HTML</div>
              <div class="skills__item">CSS</div>
            </div>
          </div>
        </div>
        <div class="experience-section">
          <h2 class="experience-header">Work experience</h2>
          <div class="experience-item">
            <div class="experience-item__header">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="experience-item__subheader">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <div class="experience-item__descr">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              nemo, dolore iusto placeat maxime voluptates quidem accusamus
              perferendis asperiores.
            </div>
          </div>
          <div class="experience-item">
            <div class="experience-item__header">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="experience-item__subheader">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <div class="experience-item__descr">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              nemo, dolore iusto placeat maxime voluptates quidem accusamus
              perferendis asperiores.
            </div>
          </div>
          <div class="experience-item">
            <div class="experience-item__header">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="experience-item__subheader">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <div class="experience-item__descr">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              nemo, dolore iusto placeat maxime voluptates quidem accusamus
              perferendis asperiores.
            </div>
          </div>
        </div>
        <div class="education">
          <h2 class="experience-header">Education</h2>
          <div class="experience-item__header">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="experience-item__subheader">
            Lorem ipsum dolor sit amet consectetur.
          </div>
          <div class="experience-item__descr">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nemo,
            dolore iusto placeat maxime voluptates quidem accusamus perferendis
            asperiores.
          </div>
        </div>
      </div>

      <div class="works-page">
        <div class="works-item">
          <div class="work-item__descr-container">
            <div class="works-item__title">Project name</div>
            <div class="works-item__tags">
              <div class="works-item__tag">React</div>
              <div class="works-item__tag">Redux</div>
              <div class="works-item__tag">WebGL</div>
              <div class="works-item__tag">React</div>
            </div>
            <div class="works-item__descr-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-les
            </div>
          </div>
          <div class="works-item__image">
            <a target="_blank" href="https://mfecane.github.io/weather-app/">
              <video
                src="/assets/video/weather-app.webm"
                autoplay
                muted
                loop
              ></video>
            </a>
            <div class="works-item__icons">
              <div class="works-item__icon">
                <i class="icon icon--github"></i>
              </div>
              <div class="works-item__icon works-item__icon--right">
                <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="works-item">
          <div class="work-item__descr-container">
            <div class="works-item__title">Project name</div>
            <div class="works-item__tags">
              <div class="works-item__tag">React</div>
              <div class="works-item__tag">Redux</div>
              <div class="works-item__tag">WebGL</div>
              <div class="works-item__tag">React</div>
            </div>
            <div class="works-item__descr-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-les
            </div>
          </div>
          <div class="works-item__image">
            <a target="_blank" href="https://mfecane.github.io/weather-app/">
              <video
                src="/assets/video/weather-app.webm"
                autoplay
                muted
                loop
              ></video>
            </a>
            <div class="works-item__icons">
              <div class="works-item__icon">
                <i class="icon icon--github"></i>
              </div>
              <div class="works-item__icon works-item__icon--right">
                <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="works-item">
          <div class="work-item__descr-container">
            <div class="works-item__title">Project name</div>
            <div class="works-item__tags">
              <div class="works-item__tag">React</div>
              <div class="works-item__tag">Redux</div>
              <div class="works-item__tag">WebGL</div>
              <div class="works-item__tag">React</div>
            </div>
            <div class="works-item__descr-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-les
            </div>
          </div>
          <div class="works-item__image">
            <a target="_blank" href="https://mfecane.github.io/weather-app/">
              <video
                src="/assets/video/weather-app.webm"
                autoplay
                muted
                loop
              ></video>
            </a>
            <div class="works-item__icons">
              <div class="works-item__icon">
                <i class="icon icon--github"></i>
              </div>
              <div class="works-item__icon works-item__icon--right">
                <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="works-item">
          <div class="work-item__descr-container">
            <div class="works-item__title">Project name</div>
            <div class="works-item__tags">
              <div class="works-item__tag">React</div>
              <div class="works-item__tag">Redux</div>
              <div class="works-item__tag">WebGL</div>
              <div class="works-item__tag">React</div>
            </div>
            <div class="works-item__descr-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-les
            </div>
          </div>
          <div class="works-item__image">
            <a target="_blank" href="https://mfecane.github.io/weather-app/">
              <video
                src="/assets/video/weather-app.webm"
                autoplay
                muted
                loop
              ></video>
            </a>
            <div class="works-item__icons">
              <div class="works-item__icon">
                <i class="icon icon--github"></i>
              </div>
              <div class="works-item__icon works-item__icon--right">
                <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="works-item">
          <div class="work-item__descr-container">
            <div class="works-item__title">Project name</div>
            <div class="works-item__tags">
              <div class="works-item__tag">React</div>
              <div class="works-item__tag">Redux</div>
              <div class="works-item__tag">WebGL</div>
              <div class="works-item__tag">React</div>
            </div>
            <div class="works-item__descr-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-les
            </div>
          </div>
          <div class="works-item__image">
            <a target="_blank" href="https://mfecane.github.io/weather-app/">
              <video
                src="/assets/video/weather-app.webm"
                autoplay
                muted
                loop
              ></video>
            </a>
            <div class="works-item__icons">
              <div class="works-item__icon">
                <i class="icon icon--github"></i>
              </div>
              <div class="works-item__icon works-item__icon--right">
                <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contacts-page">
        <div class="contacts__container">
          <h3 class="contacts__title">
            <span>Contacts</span>
          </h3>

          <ul class="contact__list">
            <li class="contact__item">
              <a href="mailto: aaliapkin@gmail.com" target="_blank">
                <span class="contact__icon icon icon--mail"></span>
                aaliapkin@gmail.com
              </a>
            </li>
            <li class="contact__item">
              <a href="tel:+7 (916) 426-5709" target="_blank">
                <span class="contact__icon icon icon--phone"></span>
                +7 (916) 426-5709
              </a>
            </li>
            <li class="contact__item">
              <a href="https://github.com/mfecane" target="_blank">
                <span class="contact__icon icon icon--github"></span>
                Mfecane
              </a>
            </li>
            <li class="contact__item">
              <a href="https://t.me/aaliapkin" target="_blank">
                <span class="contact__icon icon icon--telegram"></span>
                aaliapkin
              </a>
            </li>
            <li class="contact__item">
              <a href="https://www.instagram.com/hatis_ustes" target="_blank">
                <span class="contact__icon icon icon--inst"></span>
                hatis_ustes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
