<div class="experience">
	<div class="experience__left">
		<div class="experience__years">{{years}}</div>
		<h3 class="experience__header">
			{{title}}
		</h3>
	</div>
	<div class="experience__right">
		{{#if subtitle}}
			<h4 class="experience__subheader">
				{{subtitle}}
			</h4>
		{{/if}}
		<div class="experience__descr">
			{{text}}
		</div>
	</div>
</div>