<nav class="nav" id="nav">
	<div class="container nav__container">
		<div class="nav__logo">Aleksei Aliapkin</div>
		<ul class="nav__menu" id="nav-items">
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About me</a></li>
			<li><a href="#experience">Work experience</a></li>
			<li><a href="#works">My works</a></li>
			<li><a href="#contacts">Contacts</a></li>
		</ul>
		<button class="burger" aria-label="Toggle menu" id="burger">
			<span></span><span></span><span></span>
		</button>
	</div>
</nav>
