<div class="small-works-item">
	<h3 class="small-works-item__title">
		<a target="_blank" href="{{link}}">{{title}}</a>
	</h3>
	<div class="small-works-item__buttons">
		<a
			target="_blank"
			href="{{github}}"
			class="btn btn_secondary works-item__button"
		>
			GitHub<i class="icon icon--github"></i></a>
		<a
			class="btn btn_secondary works-item__button"
			target="_blank"
			href="{{link}}"
		>
			Live<i class="icon icon--right"></i></a>
	</div>
</div>
