@use "variables" as *;

.experience {
	display: flex;
	align-items: stretch;
	margin-bottom: 2.4rem;

	@media (max-width: $md) {
		flex-direction: column;
	}

	&__left {
		flex: 0 0 240px;
		border-right: 4px solid var(--color-accent2);

		@media (max-width: $md) {
			flex: 0 0 auto;
			border-right: none;
			border-bottom: 4px solid var(--color-accent2);
		}
	}

	&__right {
		padding-left: 1rem;

		@media (max-width: $md) {
			padding-left: 0;
			padding-top: 1rem;
		}
	}

	&__years {
		color: vAr(--color-dark);
		font-size: 0.8rem;
		margin-bottom: 1rem;

		@media (max-width: $md) {
			font-size: 1.2rem;
			font-weight: 600;
		}
	}

	&__header {
		line-height: 1.4;
		color: var(--color-accent2);
		font-size: 1.4rem;
	}

	&__subheader {
		color: vAr(--color-dark);
		font-size: 0.8rem;
		margin-bottom: 1rem;
	}

	&__descr {
		line-height: 1.4;
	}
}
