$accent: #ff751c;
$light: #ebeef1;
$light-dimmed: #adb9c2;
$dark: #0d1013;
$dark-dimmed: #34404b;

$darkbg1: #212c3d;
$darkbg2: #151d22;
$lightbg: #d7dee6;

$headerFont: 'Crimson Text';
$mainFont: 'PT Serif';
