@import "css/config.scss";

body {
  color: $light;
}

.curtain {
  background: black;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.btn {
  width: 12rem;
  padding: 4px 12px;
  background: transparent;
  font-family: "Crimson Text", serif;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  letter-spacing: 1px;
}

.btn_primary {
  background: $accent;
  color: $dark;
  border: 2px solid $accent;
}

.btn_primary:hover {
  color: white;
  background: rgb(197, 91, 4);
}

.btn_secondary {
  background: transparent;
  color: $accent;
  border: 2px solid $accent;
}

.btn_secondary:hover {
  color: white;
  background: rgba(255, 116, 2, 0.466);
}




