@import "css/config.scss";

body {
  color: $light;
}

.curtain {
  background: black;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.btn {
  width: 160px;
  padding: 3px 9px;
  background: transparent;
  font-family: $mainFont, serif;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.15s ease-out;
  white-space: nowrap;
  border-radius: 4px;
}

.btn_primary {
  background: $accent;
  color: $dark;
  border: 1px solid $accent;
  box-shadow: inset 0px 0px 1px 1px $dark;
}

.btn_primary:hover {
  box-shadow: inset 0px 0px 4px 0px $light;

  border-color: $light !important;
  color: $light;
}

.btn_secondary {
  background: transparent;
  color: $accent;
  border: 1px solid $accent;
}

.btn_secondary:hover {
  box-shadow: inset 0px 0px 4px 0px $light;
  border-color: $light !important;
  color: $light !important;
}

.icon {
  display: block;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;

  &--html {
    mask-image: url("assets/svg/icons/html.svg");
  }

  &--react {
    mask-image: url("assets/svg/icons/react.svg");
  }

  &--vue {
    mask-image: url("assets/svg/icons/vue.svg");
  }

  &--redux {
    mask-image: url("assets/svg/icons/redux.svg");
  }

  &--openweathermap {
    mask-image: url("assets/svg/icons/openweathermap.svg");
  }

  &--bootstrap {
    mask-image: url("assets/svg/icons/bootstrap.svg");
  }

  &--ffmpeg {
    mask-image: url("assets/svg/icons/ffmpeg.svg");
  }

  &--cpp {
    mask-image: url("assets/svg/icons/cpp.svg");
  }

  &--qt {
    mask-image: url("assets/svg/icons/qt.svg");
  }

  &--opengl {
    mask-image: url("assets/svg/icons/opengl.svg");
  }

  &--webgl {
    mask-image: url("assets/svg/icons/webgl.svg");
  }

  &--js {
    mask-image: url("assets/svg/icons/js.svg");
  }

  &--jquery {
    mask-image: url("assets/svg/icons/jquery.svg");
  }

  &--git {
    mask-image: url("assets/svg/icons/git.svg");
  }

  &--sass {
    mask-image: url("assets/svg/icons/sass.svg");
  }

  &--mail {
    mask-image: url("assets/svg/icons/mail.svg");
  }

  &--phone {
    mask-image: url("assets/svg/icons/phone.svg");
  }

  &--github {
    mask-image: url("assets/svg/icons/github.svg");
  }

  &--telegram {
    mask-image: url("assets/svg/icons/telegram.svg");
  }

  &--mail {
    mask-image: url("assets/svg/icons/mail.svg");
  }

  &--inst {
    mask-image: url("assets/svg/icons/inst.svg");
  }
}

.shadow {
  box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
}

a:hover {
  color: $light;
}

.hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
  border: 1px solid #494a4f;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #494a4f;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  background-color: #4c5062;
}
