@import 'css/config.scss';

.btn {
  padding: 0.625rem 1rem;
  background: transparent;
  color: $accent;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: relative;
  border: 1px solid $accent;
  border-radius: 2px;

  &:before {
    content: '';
    clip-path: polygon(
      -5% -10%,
      -5% 110%,
      2% 110%,
      2% 2%,
      98% 2%,
      98% 98%,
      2% 98%,
      0% 110%,
      105% 110%,
      105% -10%
    );
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    //background: yellow;
    transform: translate(-50%, -50%) scale(1.03, 1.1);
    border: 2px solid rgba($accent, 0.5);
    filter: blur(2px);
    border-radius: 2px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &:hover:before {
    border: 3px solid $accent;
  }

  &:hover {
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
  }

  &:hover:after {
    animation: blink 0.3s ease-out none;
  }

  &-primary {
    background: $dark;
    color: $accent;
    &:hover {
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}
