.hero {
	height: 100vh;

	background: radial-gradient(
		ellipse at 50% 40%,
		var(--color-dark) 0%,
		var(--color-dark2) 100%
	);

	&__content {
		margin: auto;
		display: flex;
		height: 100%;
		overflow: hidden;
		margin: 0 5rem;
	}

	&__content-left {
		max-width: 50vw;

		flex: 1 1 50%;

		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		position: relative;
		padding: 2rem;

		& > * {
			z-index: 2;
		}
	}

	&__content-right {
		width: fit-content;
	}

	h1 {
		text-align: right;
		font-size: 3rem;
		color: var(--color-accent);
		margin-bottom: 2.3rem;
		margin-top: 1rem;
	}

	h2 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--color-accent2);
		margin-bottom: 0.5rem;
	}

	&__subtitle {
		font-size: 1.5rem;
		color: var(--color-accent2);
		margin-bottom: 2rem;
	}

	&__photo {
		height: 100vh;
		opacity: 70%;
		object-fit: contain;
	}

	&__buttons {
		display: flex;
		gap: 1rem;
	}
}

#hero__canvas {
	position: absolute;
	top: 0;
	right: 0;
	aspect-ratio: 1 / 2;
	height: 100%;
	z-index: 1;
}

.image-mask {
	position: relative;
	display: inline-block;
}

.image-mask::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
}

svg.hero-image {
	min-height: 380px;

	line {
		stroke: #ff7791;
		fill: none;
	}

	path {
		stroke: #ff7791;
		fill: none;
	}
}

#canvas {
	width: 300px;
	height: 300px;
}

.hero__content-righter {
	flex: 0 0 auto;
	height: 100%;

	padding: 8rem 2rem;
	// display: flex;
	// flex-direction: column;
	// justify-content: flex-end;
}

.hero__menu {
	transition: all 300ms ease;
	opacity: 0;
	transform: translateY(-50px);

	&.active {
		opacity: 1;
		transform: translateY(0);
	}
}

.hero__menu-item {
	font-size: 1.2rem;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	a {
		color: var(--color-accent2);

		&:hover {
			color: var(--color-light);
		}
	}
}
