@use "variables" as *;

.hero {
	height: 100vh;

	background: radial-gradient(
		ellipse at 50% 40%,
		var(--color-dark) 0%,
		var(--color-dark2) 100%
	);

	&__content-right {
		width: fit-content;
	}

	h1 {
		text-align: right;
		font-size: 3rem;
		color: var(--color-accent);
		margin-bottom: 2.3rem;
		margin-top: 1rem;
	}

	h2 {
		text-align: right;
		font-size: 2rem;
		font-weight: bold;
		color: var(--color-accent2);
		margin-bottom: 0.5rem;
	}

	&__subtitle {
		text-align: right;
		font-size: 1.5rem;
		color: var(--color-accent2);
		margin-bottom: 2rem;
	}

	&__photo {
		height: 100vh;
		opacity: 70%;
		object-fit: contain;
	}
}

.hero__content {
	display: flex;
	height: 100%;
	overflow: hidden;

	@media (max-width: $md) {
		height: 100%;
	}
}

.hero__content-left {
	max-width: 50vw;
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	position: relative;
	padding: 2rem;

	@media (max-width: $md) {
		padding: 1rem;
		flex: 1 0 60%;
		max-width: unset;
	}

	& > * {
		z-index: 2;
	}
}

.hero__buttons {
	display: flex;
	gap: 1rem;

	@media (max-width: $md) {
		flex-direction: column;
	}
}

#hero__canvas {
	position: absolute;
	top: 0;
	right: 0;
	aspect-ratio: 1 / 2;
	height: 100%;
	z-index: 1;
}

svg.hero-image {
	min-height: 380px;

	line {
		stroke: #ff7791;
		fill: none;
	}

	path {
		stroke: #ff7791;
		fill: none;
	}

	@media (max-width: $md) {
		display: none;
	}
}

.hero__content-righter {
	flex: 0 0 auto;
	height: 100%;
	padding: 8rem 2rem;

	@media (max-width: $xl) {
		display: none;
	}
}

.hero__menu {
	transition: all 300ms ease;
	opacity: 0;
	transform: translateY(-50px);

	&.active {
		opacity: 1;
		transform: translateY(0);
	}
}

.hero__menu-item {
	font-size: 1.2rem;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	a {
		color: var(--color-accent2);

		&:hover {
			color: var(--color-light);
		}
	}
}
