.icon {
	display: block;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;

	&--html {
		mask-image: url("/assets/images/icons/html.svg");
	}

	&--react {
		mask-image: url("/assets/images/icons/react.svg");
	}

	&--vue {
		mask-image: url("/assets/images/icons/vue.svg");
	}

	&--redux {
		mask-image: url("/assets/images/icons/redux.svg");
	}

	&--openweathermap {
		mask-image: url("/assets/images/icons/openweathermap.svg");
	}

	&--bootstrap {
		mask-image: url("/assets/images/icons/bootstrap.svg");
	}

	&--ffmpeg {
		mask-image: url("/assets/images/icons/ffmpeg.svg");
	}

	&--cpp {
		mask-image: url("/assets/images/icons/cpp.svg");
	}

	&--qt {
		mask-image: url("/assets/images/icons/qt.svg");
	}

	&--opengl {
		mask-image: url("/assets/images/icons/opengl.svg");
	}

	&--webgl {
		mask-image: url("/assets/images/icons/webgl.svg");
	}

	&--js {
		mask-image: url("/assets/images/icons/js.svg");
	}

	&--jquery {
		mask-image: url("/assets/images/icons/jquery.svg");
	}

	&--git {
		mask-image: url("/assets/images/icons/git.svg");
	}

	&--sass {
		mask-image: url("/assets/images/icons/sass.svg");
	}

	&--mail {
		mask-image: url("/assets/images/icons/mail.svg");
	}

	&--phone {
		mask-image: url("/assets/images/icons/phone.svg");
	}

	&--github {
		mask-image: url("/assets/images/icons/github.svg");
	}

	&--telegram {
		mask-image: url("/assets/images/icons/telegram.svg");
	}

	&--mail {
		mask-image: url("/assets/images/icons/mail.svg");
	}

	&--instagram {
		mask-image: url("/assets/images/icons/inst.svg");
	}

	&--linkedin {
		mask-image: url("/assets/images/icons/linkedin.svg");
	}

	&--right {
		mask-image: url("/assets/images/icons/right.svg");
	}

	&--artstation {
		// .icon--artstation
		mask-image: url("/assets/images/icons/artstation.svg");
	}

	&--artstation {
		// .icon--artstation
		mask-image: url("/assets/images/icons/three.svg");
	}
}
