.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: black;
  opacity: 1;
  transition: all 1s ease-in;
}

.loading-screen.fade-out {
  opacity: 0;
}

.loading-screen.hidden {
  display: none;
}

.loading-screen__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
}
