.loading-screen {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index: 30;
  background-color: black;
  opacity: 1;
  transition: all 1s ease-in;
}

.loading-screen.fade-out {
  opacity: 0;
}

.loading-screen.hidden {
  display: none;
}

.loading-screen__spinner {
  position:absolute;
  top:50%;
  left:50%;
  width:42px;
  height:8px;
  transform: translate(-50%,-50%);
}

.cube {
  position:absolute;
  background:#fff;
  width:8px;
  height:8px;
  top:0;
  border-radius:3px;
}

.cube1 {
  left:0;
  transform-origin: 16px 50%;
  animation: rotate1 1.5s ease-in-out  infinite;
}

.cube2 {
  left:12px;
  transform-origin: 16px 50%;
  animation: rotate3 1.5s ease-in-out infinite;
}

.cube3 {
  left:24px;
  animation-delay: .5s;
  transform-origin: 16px 50%;
  animation: rotate2 1.5s ease-in-out infinite;
}

.cube4 {
  left:36px;
  transform-origin: 16px 50%;
  animation: rotate4 1.5s ease-in-out infinite;
}

.cube-row {
  position: relative;
  animation: shift 1.5s ease-in infinite;
}


@keyframes rotate1 {
  0% {
    transform: rotate(0deg)
  }
  35% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(180deg)
  }
}


@keyframes rotate2 {
  0% {
    transform: rotate(0deg)
  }
  15% {
    transform: rotate(0deg)
  }
  50%{
    transform: rotate(-180deg)
  }
  100%{
    transform: rotate(-180deg)
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(0deg)
  }
  85% {
    transform: rotate(-180deg)
  }
  100%{
    transform: rotate(-180deg)
  }
}

@keyframes rotate4 {
  0% {
    transform: rotate(0deg)
  }
  65%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(180deg)
  }
}

@keyframes shift {
  20% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(-12px)
  }

  70% {
    transform: translateX(-12px)
  }

  100% {
    transform: translateX(-24px)
  }
}
