@use "variables" as *;

.nav {
	background-color: rgba(28, 33, 36, 0.9);
	color: var(--color-light);
	padding: 1rem 0;
	position: sticky;
	top: 0;
	z-index: 100;
	transition: opacity 200ms ease;
	position: fixed;
	width: 100vw;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;

		@media (max-width: $md) {
			justify-content: end;
		}
	}

	&__logo {
		font-size: 1.2rem;
		font-weight: bold;

		@media (max-width: $md) {
			display: none;
		}
	}
}

.nav__menu {
	list-style: none;
	display: flex;
	gap: 2rem;

	li a {
		text-decoration: none;
		color: var(--color5);
		font-weight: 500;
		transition: color 0.2s;

		&:hover {
			color: var(--color-accent2);
		}
	}

	@media (max-width: $md) {
		position: absolute;
		top: -100px;
		opacity: 0;
		transition: all 200ms ease;
		flex-direction: column;
		left: 0;
		width: 100%;
		background-color: var(--color-dark);
		z-index: 1;
		padding: 2rem;

		.nav.open & {
			top: 0;
			opacity: 1;
		}
	}
}

@media (min-width: $md) {
	.nav__container > * {
		transform: translateY(-20px);
		transition: all 300ms ease;
		opacity: 0;

		.nav.active & {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.nav:not(.active) {
		opacity: 0;
	}
}

.burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 24px;
	height: 18px;
	background: none;
	border: none;
	cursor: pointer;
	justify-self: end;
	position: relative;
	z-index: 2;

	span {
		display: block;
		height: 3px;
		background: white;
		border-radius: 2px;
	}

	@media (max-width: $md) {
		display: flex;
	}
}
