.nav {
	background-color: rgba(28, 33, 36, 0.9);
	color: var(--color-light);
	padding: 1rem 0;
	position: sticky;
	top: 0;
	z-index: 100;
	transition: opacity 200ms ease;
	position: fixed;
	width: 100vw;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;
	}

	&__logo {
		font-size: 1.2rem;
		font-weight: bold;
	}

	&__menu {
		list-style: none;
		display: flex;
		gap: 2rem;

		li a {
			text-decoration: none;
			color: var(--color5);
			font-weight: 500;
			transition: color 0.2s;

			&:hover {
				color: var(--color-accent2);
			}
		}

		@media (max-width: 768px) {
			gap: 1rem;
			font-size: 0.9rem;
		}
	}

	&:not(.active) {
		opacity: 0;
	}
}

.nav__container > * {
	transform: translateY(-20px);
	transition: all 300ms ease;
	opacity: 0;

	.nav.active & {
		opacity: 1;
		transform: translateY(0px);
	}
}
