@import 'css/config.scss';

body {
  overflow: auto;
}

body.dynamic-mode {
  overflow: hidden;
}

.page1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.page1__left {
  width: 27vw;
  min-width: 400px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 24px;
  transform: translateY(2vh);
}

.logo-group {
  align-self: stretch;
  border-right: 1px solid $light;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dynamic-mode .page1 {
  z-index: 5;
  position: absolute;
}

.page1__photo-container {
  align-items: flex-end;
  height: 100%;
  width: 35vw;
  min-width: 550px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
}

.page1__photo {
  max-width: 400px;
}

.static-mode .page1 {
  position: static;
}

#main-bg-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #05080b center/cover url(assets/img/bg.jpg);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0d0f1388;
  }
}

.column__container {
  position: absolute;
  top: 50%;
  height: max-content;
  width: 55vw;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10vmin;
  z-index: 2;
  transform: translate(-35vw, -50%);
}

.column__title {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  line-height: 8.25vmin;
  letter-spacing: 0.225vmin;
  font-weight: 400;
  color: $light;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 8px;
  margin-right: 4px;
}

.column__title-image {
  width: 400px;
  height: 125px;
  margin: 10px 10px 0 0;
}

.column__subtitle {
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  line-height: 4.25vmin;
  letter-spacing: 0.2vmin;
  color: $accent;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  margin: 10px 10px 0 0;
}

.column__logo-container {
  width: 100%;
  padding-bottom: 70%;
  margin-bottom: -5vh;
  position: relative;
  transform: translateY(-2vh);
}

.column__logo-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* TODO: find better font, thinner, but not super thin */
.column__button-container {
  display: flex;
  gap: 8px;
  align-self: end;
  justify-self: end;
}

.nav {
  margin-left: 16px;
  color: #ff9d00;

  &__link {
    display: block;
    font-family: Crimson Text;
    font-size: 24px;
    color: $light;
    margin: 6px 0;
    font-weight: 300;
    letter-spacing: 0.125vmin;
    position: relative;
    cursor: pointer;
    z-index: 3;
    transition: 0.15s all ease-out;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      color: $accent;
    }
  }
}
