@import "css/config.scss";

.page2 {
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  z-index: 4;
}

.static-mode .page2 {
  position: static;
  flex-direction: column;
  height: auto;
}

.page2-left {
  flex: 0 0 30%;
  background-color: $darkbg1;
  background: radial-gradient(farthest-corner circle at 80% 30%, $darkbg1 0%, $darkbg2 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 55px 0 80px;
}

.dynamic-mode .page2-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  z-index: 10;
}

.about__title {
  align-self: stretch;
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 28px;
  color: $accent;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 32px;
  border-bottom: $accent 1px solid;
  padding-bottom: 4px;
}

.about__text {
  text-align: right;
  padding: 12px 0;
  color: $light-dimmed;
  font-family: Poppins;
  font-size: 14px;
  line-height: 22px;
  margin: 0px 0px 50px 0px;
}

.about__text p {
  margin: 5px 0;
}


.tech__container {
  flex: 0 0 120px;
  z-index: 0;
  align-self: center;
}

.tech__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin: auto;
}

.tech__item {
  flex: 0 0 50px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $accent;
}

.tech__image {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: $accent;
}

.page2-scroller {
  z-index: 3;
  position: absolute;
  top: 5vmin;
  bottom: 5vmin;
  left: 5vmin;
  right: 5vmin;
}

.page2-right {
  overflow: hidden;
  display: grid;
}

.dynamic-mode .page2-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  z-index: 10;
}

.placeholder-scroller {
  display: grid;
  place-self: center;
}

.exp__container {
  margin: 0 100px;
}

.exp__title {
  font-family: "Playfair Display", serif;
  color: $accent;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  display:flex;
  gap: 10px;
  margin-bottom: 10px;
}

.exp__title span {
  flex: 1 0 max-content;
  overflow: hidden;
  white-space: nowrap;
}

.exp__title div {
  flex: 1 1 100%;
  position: relative;
}

.exp__title div div {
  content: "";
  height: 1px;
  top: 50%;
  left:0;
  width: 100%;
  background-color: $accent;
}

.exp__item {
  display: flex;
  align-items: flex-start;
  margin: 26px 0 32px 0;
  gap: 40px;
}

.exp__year {
  font-family: "Lora";
  color: $light;
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap;
  flex: 0 0 60px;
}

.exp__details {
}

.exp__name {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Lora";
  color: $accent;
  margin: 0 0 4px 0;
}

.exp__place {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Lora";
  color: $light-dimmed;
}

.exp__descr {
  font-style: normal;
  font-size: 14px;
  font-family: "Lora";
  letter-spacing: 1px;
  line-height: 18px;
  color: $light-dimmed;
  margin: 10px 0;
}
