@import "css/config.scss";

.hero-page {
  min-width: 100vw;
  position: relative;
}

.hero-page__left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 600px;
  padding: 50px 0 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  pointer-events: all;
}

.hero-section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  gap: 25px;
}

.hero-page__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: right center repeat-y url(assets/svg/bg.svg),
    radial-gradient(circle at 55% 40%, rgba(23, 25, 28, 0.5) 0%, rgba(14, 14, 15, 0.5) 100%);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.hero-page__background:after {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  content: "";
  background-color: white;
  background-image: radial-gradient(circle closest-corner at 50% 45%, rgb(89, 94, 101) 0%, rgb(0, 0, 0) 100%);
}

.logo-group__logo-container {
  width: 500px;
}

.logo-group__logo-aspect {
  width: 100%;
  padding-bottom: 65%;
  position: relative;
  transform: translateY(20px);
}

.logo-group__logo-aspect canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-section__title {
  font-family: $headerFont, serif;
  font-size: 42px;
  font-weight: 400;
  color: $light;
  text-transform: uppercase;
  text-align: right;
  align-items: flex-end;
  margin-bottom: 10px;
}

.hero-section__content {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.avatar-group {
  display: flex;
  align-items: flex-end;
}

.avatar-group___titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avatar-group___name {
  font-family: $mainFont, serif;
  font-size: 22px;
  font-weight: 500;
  color: $light;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.avatar-group___job {
  font-family: $mainFont, serif;
  font-size: 28px;
  font-weight: 400;
  color: $accent;
  text-transform: uppercase;
  text-align: right;
  white-space: pre-wrap;
  transform: translateY(3px);
}

.avatar-group__image__container {
  flex: 0 0 200px;
  width: 200px;
  height: 126px;
  position: relative;
  overflow: hidden;
}

.avatar-grop__image {
  position: relative;
  position: absolute;
  top: 0;
  left: -7%;
  width: 110%;
  height: 100%;
  background: url(/assets/img/avatar.png) no-repeat top center/cover;
  z-index: 3;
  transition: all 200ms ease-in-out;
}

.avatar-grop__image:hover {
  left: -5%;
  width: 115%;
}

.avatar-group__image__container:after {
  content: "";
  border-radius: 8px;
  position: absolute;
  bottom: -40%;
  left: 50%;
  width: 80%;
  height: 120%;
  background-color: $accent;
  transition: all 200ms ease-in-out;
  transform: translateX(-50%) rotate(15deg);
  z-index: 2;
}

.avatar-group__image__container:hover:after {
  background-color: white;
  transform: translate(-47%, 10%) rotate(-15deg);
}

.hero-section__button-container {
  display: flex;
  gap: 12px;
}
