@import "css/config.scss";


.works-title {
  position: static;
  top: auto;
  left: auto;
  width: auto;
}

.dynamic-mode .works-title {
  position: absolute;
  top: 50%;
  left: -50vw;
  transform: translateY(-50%);
  width: 18vw;
  height: 60vh;
  border-right: 1px solid white;
  padding-right: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.works-title__heading {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 54px;
  font-weight: 400;
  color: $accent;
  text-transform: uppercase;
}

.dynamic-mode .works-title__heading {
  text-align: right;
  margin-bottom: 8px;
  margin-right: 4px;
  font-size: 60px;
  line-height: 54px;
}

.static-mode .works-title__heading {
  white-space: nowrap;
  font-size: 42px;
}


.works-item__container {
  opacity: 1;
  display: flex;
  background-color: $darkbg1;
  border-radius: 2px;
}

.static-mode .works-item__container {
  margin: 80px 0;
  min-height: 400px;
}

.dynamic-mode .works-item__container {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  width: 60vw;
  height: 60vh;
  display: flex;
  transform: translateX(-40%) translateY(-50%);
  z-index: 10;
}


.works-item__container:nth-child(even) {
  flex-direction: row-reverse;
}

.works-item__layout {
  flex: 1 1 auto;
  padding: 24px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.works-item__title {
  flex: 0 0 auto;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: $accent;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: solid 1px $accent;
}

.works-item__text {
  flex: 1 0 40%;
  color: $light-dimmed;
  font-family: $mainFont;
  font-size: 16px;
  line-height: 20px;
}

.works-item__image {
  flex: 1 0 60%;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}

.works-item__image a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.works-item__image video {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
  transform: scale(1.0);
  transition: all 0.3s ease-out 0s;
  border-radius: 2px;
}

.works-item__container .works-item__image video {
  border-radius: 2px;
}

.works-item__container:nth-child(odd) .works-item__image video {
  border-radius: 2px;
}

.works-item__image video:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out 0s;
}

.works-item__buttons-container {
  flex: 0 0 auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.works-item__button.btn {
  padding: 2px 8px;
  font-weight: bold;
  color: $dark;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 2px;
}

.works-item__button .icon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $dark;
  transition: all 0.15s ease-out;
}

.works-item__button span {
  transform: translateY(2px);
}

.works-item__button:hover .icon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $light;
}

.works-item__technologies {
  margin: 5px 0 20px 0;
  display: flex;
  gap: 8px;
}

.works-item__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid $accent;
  display: grid;
}

.works-item__icon .icon {
  background: $accent;
  place-self: center;
  width: 24px;
  height: 24px;
}

.works-item__icon--react {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $accent;
}
