@import "css/config.scss";

.page2 {
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  z-index: 4;
}

.page2-left {
  flex: 0 0 30%;
  background-color: $lightbg;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 32px;
  padding-bottom: 64px;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 36px;
  color: $accent;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 32px;
}

.about__text {
  text-align: right;
  border-top: $dark 1px solid;
  padding: 16px 0;
  color: $dark;
  font-family: "Lora";
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px;
}

.page2-right {
  flex: 0 0 70%;
  background: $dark;
  background: radial-gradient(farthest-corner circle at 80% 30%, $dark-dimmed 0%, $dark 100%);
  position: relative;
  overflow:hidden;
}

.page2-scroller {
  z-index: 3;
  position: absolute;
  top: 5vmin;
  bottom: 5vmin;
  left: 5vmin;
  right: 5vmin;
}

.experience__wrapper {
  max-height: 100vh;
  margin: 40px;
  display: grid;
  grid-template-columns: 128px auto;
  position: relative;
  overflow-y: auto;
}

.experience__wrapper:before {
  content: "";
  display: block;
  width: 1px;
  left: 20px;
  top: 80px;
  bottom: 80px;
  position: absolute;
  background: $light;
}

.experience__title {
  grid-column: 2;
  font-family: "Playfair Display";
  font-size: 20px;
  color: $light;
  border-bottom: 1px solid $light;
  padding-bottom: 8px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.experience__title:not(:last-child) {
  margin-top: 4rem;
}

.experience__year {
  grid-column: 1;
  color: $light;
  position: relative;
  display: flex;
  align-items: center;
}

.experience__year span {
  font-family: "Playfair Display";
  font-size: 16px;
  margin-left: 8px;
}

.experience__marker {
  position: relative;
  width: 27px;
  height: 27px;
  background: $dark-dimmed;
  border-radius: 50%;
  border: 1px solid $light;
  box-shadow: 0 0 10px 2px $light;
  z-index: 1;
}

.experience__marker:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  content: "";
  background: $light;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.experience__subtitle {
  color: $accent;
  font-weight: bold;
  grid-column: 2;
  font-family: "Lora";
  font-size: 18px;
  align-self: center;
}

.experience__description {
  grid-column: 2;
  letter-spacing: 1px;
  font-family: "Lora";
  font-size: 16px;
  line-height: 20px;
  color: $light-dimmed;
  margin: 6px 0 10px 0;
}
