@import 'css/config.scss';

.page4 {
  flex: 0 0 auto;
  left: 50%;
  top: 50%;
  width: 40vw;
  min-width: 500px;
  height: 70vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  z-index: 15;
  transform: translate(-50%, -50%)
}

.static-mode .page4 {
  position: static;
  top: auto;
  left: auto;
  width: auto;
  min-width: none;
  height: auto;
  transform: none;
}

// TODO refactor into title

.contacts__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.contacts__title {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: $accent;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 2px;
}

.contacts__title span {
  flex: 1 0 max-content;
  overflow: hidden;
  white-space: nowrap;
}

.contact__list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 64px 0 0 0;
  gap: 32px;
}

.contact__item a {
  font-family: Poppins;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  color: $accent;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out 0s;
}

.contact__item:hover a {
  color: $light !important;
  transform: scale(1.05);
  transition: all 0.2s ease-out 0s;
}

.contact__icon {
  width: 32px;
  height: 32px;
  background: $accent;
  margin: 8px 16px 0 8px;
  transform: translateY(-4px);

  .contact__item:hover & {
    background: $light !important;
    cursor: pointer;
  }
}
