@import "css/config.scss";

.contacts-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;

  .dynamic-mode & {
    width: 500px;
    pointer-events: all;
    padding: 20px 60px 60px 0;
    background-color: black;
  }

  .static-mode & {
    margin-top: 60px;
    padding: 60px;
    background: radial-gradient(circle at 55% 40%, rgba(23, 25, 28, 0.7) 0%, rgba(14, 14, 15, 0.7) 100%);
    backdrop-filter: blur(10px);
  }
}

.contacts__title {
  font-family: $headerFont, serif;
  text-transform: uppercase;
  color: $light;
  font-size: 72px;
  font-weight: normal;
  margin-bottom: 72px;
}

.contacts__title span {
  flex: 1 0 max-content;
  overflow: hidden;
  white-space: nowrap;
}

.contact__list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 32px;
  gap: 32px;
  border-left: 4px solid $accent;
}

.contact__item a {
  font-family: $mainFont;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $accent;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out 0s;
}

.contact__item:hover a {
  color: $light !important;
  transition: all 0.2s ease-out 0s;
}

.contact__icon {
  width: 32px;
  height: 32px;
  background: $accent;
  margin: 8px 16px 0 8px;
  transform: translateY(-4px);

  .contact__item:hover & {
    background: $light !important;
    cursor: pointer;
  }
}
