@import "css/config.scss";

.about-page {
  display: inline-flex;
  gap: 20px;
  min-width: 100vw;
  align-items: center;
  z-index: 2;
  font-size: 24px;
  border-right: black 1px solid;
  border-left: black 1px solid;
  padding: 0 50px;
}

.about-section {
  width: 400px;
  min-width: 20vw;
  padding: 40px 0;
  pointer-events: all;
  align-self: flex-start;
  margin-top: 100px;
}

.about-section__text-wrapper {
  border-left: $accent 2px solid;
  padding-left: 10px;
}

.about-section__header {
  font-family: $headerFont;
  font-size: 38px;
  margin-bottom: 24px;
}

.about-section__text {
  font-size: 18px;
  color: $light2;
  line-height: 22px;
}

.about-section__skills-wrapper {
}

.about-seciton__skills-header {
  margin: 60px 0 24px 0;
  font-family: $headerFont;
  font-size: 24px;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.skills__item {
  color: $accent;
  font-size: 16px;
}

.experience-section {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  pointer-events: all;
  background-color: black;
  align-self: stretch;
  padding: 50px;
}

.experience-header {
  font-family: $headerFont;
  color: $light;
  font-size: 42px;
  margin-bottom: 20px;
}

.experience-item {
}

.experience-item__header {
  font-family: $headerFont;
  color: $light;
  margin-bottom: 8px;
}

.experience-item__subheader {
  color: $accent;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
}

.experience-item__descr {
  color: $light2;
  font-size: 18px;
  line-height: 22px;
}

.experience-section__item:nth-child(1) {
  transform: translateX(-40px);
}

.experience-section__item:nth-child(2) {
  transform: translateX(-20px);
}

.experience-section__item:nth-child(3) {
  transform: translateX(20px);
}

.experience-section__item:nth-child(4) {
  transform: translateX(40px);
}

.education {
  align-self: flex-end;
  width: 500px;
  padding: 40px;
  pointer-events: all;
  margin-bottom: 100px;
}
