@import "css/config.scss";

.contacts-page {
  width: 500px;
  pointer-events: all;
  background-color: black;
  padding: 60px 60px 60px 30px;
  display: grid;
  place-items: center;
}

.contacts__title {
  font-family: $headerFont, serif;
  text-transform: uppercase;
  color: $light;
  font-size: 72px;
  font-weight: normal;
}

.contacts__title span {
  flex: 1 0 max-content;
  overflow: hidden;
  white-space: nowrap;
}

.contact__list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 64px 0 0 0;
  gap: 32px;
}

.contact__item a {
  font-family: $mainFont;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  color: $accent;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out 0s;
}

.contact__item:hover a {
  color: $light !important;
  transition: all 0.2s ease-out 0s;
}

.contact__icon {
  width: 32px;
  height: 32px;
  background: $accent;
  margin: 8px 16px 0 8px;
  transform: translateY(-4px);

  .contact__item:hover & {
    background: $light !important;
    cursor: pointer;
  }
}
