@import "css/config.scss";

.works-page {
  min-width: 100vw;
  display: inline-flex;
  gap: 120px;
  align-items: center;
  z-index: 2;
  position: relative;
  pointer-events: all;
  padding: 0 150px 0 50px;
}

.works-title {
  font-family: $headerFont;
  color: $light2;
  font-size: 72px;
  position: absolute;
  top: 6px;
  left: 20px;
}

.works-item {
  align-self: flex-end;
  margin-bottom: -102px;
}

.works-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.work-item__descr-container {
  background: black;
  position: relative;
  padding: 20px 0;
}

.work-item__descr-subcontainer {
  border-left: 3px solid $accent;
  padding-left: 16px;
  margin-bottom: 96px;
}

.works-item__title {
  color: $accent;
  font-family: $headerFont;
  font-size: 28px;
  margin-bottom: 22px;
  font-weight: bolder;
  transition: all 200ms ease-in;
  letter-spacing: 1px;
}

.works-item__title:hover {
  color: white;
}

.works-item__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.works-item__tag {
  border-radius: 4px;
  background-color: #242c36;
  color: #778290;
  font-size: 12px;
  padding: 4px 10px;
}

.works-item__descr-text {
  color: $light2;
  font-size: 16px;
  line-height: 22px;

  transition: all 500ms ease-in;
  opacity: 0;
  transform: translateX(20px);
}

.works-item__descr-text.active {
  color: $light2;
  font-size: 16px;
  line-height: 22px;

  opacity: 1;
  transform: translateX(0px);
}

.works-item__image-outer {
  transform: translate(-50px, -102px);
}

.works-item__image {
  width: 360px;
  height: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  position: relative;
}

.works-item__image video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
  border-radius: 2px;
}

.works-item__icons {
  right: 12px;
  bottom: 12px;
  position: absolute;
  z-index: 5;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.works-item__icon {
  background-color: $accent;
  width: 34px;
  height: 34px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  transition: all 200ms ease-in;
}

.works-item__icon i {
  width: 22px;
  height: 22px;
  background-color: black;
  transition: all 200ms ease;
}

.works-item__icon:hover {
  background-color: white;
  cursor: pointer;
}

.works-item__icon--right i {
  transform: translateX(2px);
  mask-image: url("assets/svg/icons/right.svg");
}

.works-item:nth-child(odd) {
  align-self: flex-start;
  margin-top: -102px;

  .works-item-wrapper {
    flex-direction: column-reverse;
  }

  .work-item__descr-subcontainer {
    margin-bottom: 0;
    margin-top: 96px;
  }

  .works-item__icons {
    top: 12px;
    right: 12px;
    bottom: unset;
  }

  .works-item__image-outer {
    transform: translate(-50px, 102px);
  }
}
