@import "css/config.scss";

.about-page {
  display: inline-flex;
  align-items: center;
  z-index: 2;
  font-size: 24px;
  border-right: black 1px solid;
  border-left: black 1px solid;

  .dynamic-mode & {
    padding: 0 50px;
    min-width: 100vw;
    gap: 80px;
  }

  .static-mode & {
    flex-direction: column;
  }
}

.about-section {
  pointer-events: all;
  align-self: flex-start;

  .dynamic-mode & {
    width: 400px;
    min-width: 20vw;
    margin-top: 30px;
    padding: 40px 0;
  }

  .static-mode & {
    background: black;
    padding: 30px 60px;
  }
}

.about-section__text-wrapper {
  border-left: $accent 2px solid;
  padding-left: 10px;
}

.about-section__header {
  font-family: $headerFont;
  font-size: 32px;
  margin-bottom: 24px;
}

.about-section__text {
  font-size: 18px;
  color: $light2;
  line-height: 24px;
}

.about-section__skills-wrapper {
}

.about-seciton__skills-header {
  margin: 60px 0 24px 0;
  font-family: $headerFont;
  font-size: 24px;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  .dynamic-mode & {
    grid-template-columns: 1fr 1fr;
  }

  .static-mode & {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.skills-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $accent;
}

.skills__item {
  color: $accent;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.experience-section-outer {
  align-self: stretch;
  padding: 0 20px;

  .dynamic-mode & {
    width: 500px;
    pointer-events: all;
    overflow: hidden;
    height: 100%;
    background-color: black;
  }

  .static-mode & {
    display: flex;
    background: radial-gradient(circle at 55% 40%, rgba(23, 25, 28, 0.7) 0%, rgba(14, 14, 15, 0.7) 100%);
    backdrop-filter: blur(10px);
  }
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding: 10px 20px 20px 20px;
  height: 100%;

  .dynamic-mode & {
    overflow-y: scroll;
  }

  .static-mode & {
  }
}

.experience-header {
  font-family: $headerFont;
  color: $light2;
  font-size: 42px;
  margin-bottom: 32px;
}

.experience-item {
  transition: all 500ms ease-in;

  .dynamic-mode & {
    opacity: 0;
    transform: translateX(20px);
  }
}

// TODO ::: add inactive
.experience-item.active {
  opacity: 1;
  transform: translateX(0px);
}

.experience-item__header {
  font-family: $headerFont;
  color: $light;
  margin-bottom: 8px;
}

.experience-item__subheader {
  color: $accent;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
}

.experience-item__descr {
  color: $light2;
  font-size: 18px;
  line-height: 22px;
}

.experience-section__item:nth-child(1) {
  transform: translateX(-40px);
}

.experience-section__item:nth-child(2) {
  transform: translateX(-20px);
}

.experience-section__item:nth-child(3) {
  transform: translateX(20px);
}

.experience-section__item:nth-child(4) {
  transform: translateX(40px);
}

.education {
  .dynamic-mode & {
    align-self: flex-end;
    width: 500px;
    margin-bottom: 100px;
    pointer-events: all;
    padding: 40px;
  }

  .static-mode & {
    padding: 60px;
    background-color: black;
  }
}
