@import "css/config.scss";

.page3 {
  position:absolute;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  z-index: 5;
  // display:grid;
  // gap: 10px;
  // grid-template-columns:repeat(auto-fill, minmax(20rem, 1fr));
  padding: 50px;
}

.works__container {
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.works__title {
  font-family: "Playfair Display", serif;
  color: $accent;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  display:flex;
  gap: 10px;
  margin-bottom: 10px;
}

.works__title span {
  flex: 1 0 max-content;
  overflow: hidden;
  white-space: nowrap;
}

.works__title div {
  flex: 1 1 100%;
  position: relative;
}

.works__title div div {
  content: "";
  height: 1px;
  top: 50%;
  left:0;
  width: 100%;
  background-color: $accent;
}

.works-item__container {
  height: 300px;
  background-color: $darkbg1;
}
