@import 'css/config.scss';

.page4 {
  flex: 0 0 auto;
  left: 50%;
  top: 50%;
  width: 40vw;
  height: 50vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  z-index: 15;
  transform: translate(-50%, -50%)
}

// TODO refactor into title

.contacts__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contacts__title {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: $accent;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  display: flex;
  gap: 10px;
  margin: 60px 0 10px 0;
}

.contacts__title span {
  flex: 1 0 max-content;
  overflow: hidden;
  white-space: nowrap;
}

.contact__list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.contact__item a {
  font-family: Lora;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  color: $accent;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: all 0.2s ease-out 0s;
}

.contact__item:hover a {
  color: $light !important;
  transform: scale(1.05);
  transition: all 0.2s ease-out 0s;
}

.contact__icon {
  width: 32px;
  height: 32px;
  background: $accent;
  margin: 8px 16px 0 8px;
  transform: translateY(-4px);

  .contact__item:hover & {
    background: $light !important;
    cursor: pointer;
  }
}
