@import 'css/config.scss';

.pager {
  &__container {
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    width: 160px;
    height: 12px;
    border-radius: 8px;
    transform: translateX(-50%);
    z-index: 25;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:$accent 1px solid;
  }
  &__indicator {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    border-radius: 1.5px;
    background: $accent;
  }
  &__page {
    position: relative;
    width: 10px;
    height: 10px;
  }
}
