@import 'css/config.scss';

.about-page {
  z-index: 2;
  font-size: 1em;

  .dynamic-mode & {
    display: inline-flex;
    align-items: stretch;
  }

  .static-mode & {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}

.about-section {
  z-index: 2;
  pointer-events: all;

  .dynamic-mode & {
    width: 600px;
    padding: 60px 66px;
    backdrop-filter: blur(10px);
    background-color: $grad;
    display: flex;
    justify-content: center;
  }

  .static-mode & {
    background: black;
    padding: 30px 0px;
  }
}

.about-section__text-wrapper {
  border-left: $accent 2px solid;
  padding-left: 10px;
}

.about-section__header {
  font-family: $headerFont;
  color: $light;
  font-size: 2em;
  margin-bottom: 24px;
}

.about-section__text {
  font-size: 0.9em;
  line-height: 1.4rem;
  color: $light;
}

.about-section__skills-wrapper {
}

.about-seciton__skills-header {
  margin: 60px 0 24px 0;
  font-family: $headerFont;
  font-size: 1.5em;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  .dynamic-mode & {
    grid-template-columns: 1fr 1fr;
  }

  .static-mode & {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.skills-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $accent;
}

.skills__item {
  color: $accent;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 6px;
}

.experience-section-outer {
  align-self: stretch;

  .dynamic-mode & {
    width: 600px;
    pointer-events: all;
    overflow: hidden;
    height: 100%;
    background-color: black;
    padding: 60px 66px;
    display: flex;
    flex-direction: column;

    .container {
      height: 100%;
    }
  }

  .static-mode & {
    display: flex;
    flex-direction: column;
    background: radial-gradient(
      circle at 55% 40%,
      rgba(23, 25, 28, 0.7) 0%,
      rgba(14, 14, 15, 0.7) 100%
    );
    backdrop-filter: blur(10px);
  }
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  height: 100%;

  .dynamic-mode & {
    overflow-y: scroll;
    padding-right: 20px;
  }

  .static-mode & {
    padding: 40px 0;
  }
}

.experience-header {
  font-family: $headerFont;
  color: $light;
  font-size: 3em;
  margin-bottom: 32px;
}

.experience-item {
  transition: all 500ms ease-in;

  .dynamic-mode & {
    opacity: 0;
    transform: translateX(20px);
  }
}

// TODO ::: add inactive
.experience-item.active {
  opacity: 1;
  transform: translateX(0px);
}

.experience-item__years {
  color: rgba(182, 182, 209, 0.7);
  font-size: 1.2em;
  margin-bottom: 8px;
}

.experience-item__header {
  font-family: $headerFont;
  color: $light;
  margin-bottom: 8px;
  font-size: 1.5em;
}

.experience-item__subheader {
  color: $accent;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 18px;
}

.experience-item__descr {
  color: $light2;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.experience-section__item:nth-child(1) {
  transform: translateX(-40px);
}

.experience-section__item:nth-child(2) {
  transform: translateX(-20px);
}

.experience-section__item:nth-child(3) {
  transform: translateX(20px);
}

.experience-section__item:nth-child(4) {
  transform: translateX(40px);
}

.education {
  z-index: 2;

  .dynamic-mode & {
    align-self: stretch;
    width: 600px;
    pointer-events: all;
    padding: 60px 66px;
    backdrop-filter: blur(10px);
    background-color: $grad;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .container {
      margin: unset;
    }
  }

  .static-mode & {
    padding: 60px 0;
    background-color: black;
  }

  .experience-item__header {
    color: $light;
  }

  .experience-item__descr {
    color: $light;
  }
}
