@import "css/config.scss";

body {
  overflow: hidden;
}

.scroll-container {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  height: 100vh;
  align-items: stretch;
  min-width: 100vw;
}

.page1 {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  z-index: 2;
  background-size: cover;
  position: relative;

  &__layout {
    width: 100%;
    height: 100%;
  }

  &__photo-container {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100%;
    z-index: 1;
  }

  &__photo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 95vh;
    transform: translateX(4vw);
  }
}

#main-bg-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #05080b center/cover url(assets/img/bg.jpg);

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0d0f1388;
  }
}

.column__container {
  position: absolute;
  top: 50%;
  height: max-content;
  width: 55vw;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10vmin;
  z-index: 2;
  transform: translate(-35vw, -50%);
}


.column__title {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  line-height: 8.25vmin;
  letter-spacing: 0.225vmin;
  font-weight: 400;
  color: $light;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 8px;
  margin-right: 4px;
}

.column__subtitle {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  line-height: 4.25vmin;
  letter-spacing: 0.2vmin;
  color: $accent;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  margin-right: 6px;
}

.column {
  &__logo-container {
    width: 100%;
    padding-bottom: 70%;
    margin-bottom: -5vh;
    position: relative;
    transform: translateY(-2vh);
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__nav-container {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
  }

}

/* TODO: find better font, thinner, but not super thin */
.column__button-container {
  display: flex;
  align-self: end;
  justify-self: end;
}

.logo-group {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  border-right: 1px solid $light;
}

.nav {
  margin-left: 16px;

  &__link {
    display: block;
    font-family: Crimson Text;
    font-size: 24px;
    color: $light;
    margin: 6px 0;
    font-weight: 300;
    letter-spacing: 0.125vmin;
    position: relative;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s all ease-out;

    &:last-of-type {
      margin-bottom:0;
    }

    &:hover {
      color: $accent;
    }
  }
}
