@import "css/config.scss";

.works-page {
  display: inline-flex;
  align-items: center;
  z-index: 2;
  position: relative;
  pointer-events: all;
  align-items: stretch;

  --works-page-width: 460px;

  .dynamic-mode & {
    display: inline-flex;
    min-width: 100vw;
  }

  .static-mode & {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    gap: 60px;
  }
}

.works__title-container {
  z-index: 2;

  .dynamic-mode & {
    width: 18rem;
    background-color: black;
  }

  .static-mode & {
  }
}

.works-title__outer {
  z-index: 2;

  .dynamic-mode & {
    color: $light;
    z-index: 5;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-550px, 120px);
    white-space: nowrap;
  }

  .static-mode & {
    align-self: flex-start;
    margin: 80px 0 40px 0;
    color: $light;
  }
}

.works-title {
  font-family: $headerFont;
  font-size: 6.3rem;
}

.works-item {
  background-color: rgba(0, 0, 0, 0.96);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 60px 32px;
  transition: all 400ms ease-out;
  overflow: hidden;
  gap: 16px;

  .dynamic-mode & {
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    min-width: 0;
  }

  .dynamic-mode &.active {
    width: 670px;
    min-width: 0;
    background-color: rgba(27, 32, 40, 0.5);
  }
}

.works-item__title {
  color: $accent;
  font-size: 2em;
  font-weight: 500;
  transition: all 400ms ease-out;
  letter-spacing: 1px;
  text-transform: uppercase;

  .dynamic-mode & {
    margin-top: 110px;
  }

  .dynamic-mode .works-item.active & {
    margin-top: 20px;
  }
}

.works-item__title:hover {
  color: white;

  a {
    cursor: pointer;
  }
}

.works-item__descr-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.works-item__descr-toggle {
  transition: all 400ms ease-out 0ms;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .dynamic-mode .works-item & {
    height: 0;
    opacity: 0;
  }

  .dynamic-mode .works-item.active & {
    opacity: 1;
  }
}

.works-item__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  transition: all 400ms ease-out 0ms;
}

.works-item__tag {
  border-radius: 4px;
  background-color: #242c36;
  color: #bbc7d7;
  font-size: 0.6em;
  padding: 4px 10px;
}

.works-item__descr-text {
  font-size: 0.9rem;
  line-height: 1.4rem;
  position: relative;
  min-width: 566px;
}

.works-item__descr-text.active {
  opacity: 1;
  transform: translateX(0px);
}

.works-item__image-outer {
  .dynamic-mode & {
  }

  .static-mode & {
    background-color: black;
  }
}

.works-item__image {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
  cursor: pointer;

  .dynamic-mode & {
    padding-bottom: 65%;
    margin-top: 30vh;
    transform: rotate(-15deg) translateX(125px) scale(140%);
    transition: all 400ms ease-out;
  }

  .dynamic-mode .works-item.active & {
    margin-top: 0;
    transform: none;
  }

  .static-mode & {
    margin: auto;
    height: 300px;
  }
}

.work-item__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 400ms ease-out;
  cursor: pointer;

  .dynamic-mode & {
    opacity: 1;
  }

  .dynamic-mode .works-item.active & {
    opacity: 0;
  }
}

.work-item__image-overlay-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

.works-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 400ms ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  filter: grayscale(100%);
}

.works-item__image video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;

  .works-item.active & {
    opacity: 1;
  }
}

.works-item__buttons {
  display: flex;
  gap: 20px;

  .dynamic-mode .works-item & {
    height: 0;
    opacity: 0;

    transition: all 400ms ease-out 0ms;
  }

  .dynamic-mode .works-item.active & {
    height: auto;
    opacity: 1;

    transition: all 600ms ease-out 200ms;
  }
}

.works-item__button {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  .icon {
    background-color: $accent;
    width: 20px;
    height: 20px;
  }
}

.works-item__button:hover .icon {
  background-color: $light;
  cursor: pointer;
}
