@import 'css/config.scss';

body {
  overflow: hidden;
}

.scroll-container {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
}

.page1 {
  flex: 0 0 100vw;
  z-index: 2;
  background-size: cover;
  position: relative;

  &__layout {
    width: 100%;
    height: 100%;
  }

  &__photo-container {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100%;
    overflow: hidden;
  }

  &__photo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 95vh;
    transform: translateX(4vw);
  }
}

#main-bg-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #05080b center/cover url(assets/img/bg.jpg);
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0d0f1388;
  }
}

.column {
  &__container {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 45vw;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(-35vw);
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
  }
  &__logo-container {
    width: 100%;
    transition: all 1s ease-out;
  }
  &__nav-container {
  }
  &__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.125rem;
    color: $light;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin: 0 0 0.5rem 0;
  }
  /* TODO: find better font, thinner, but not super thin */
  &__subtitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.425rem;
    color: $accent;
    font-weight: 500;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    padding: 0.675rem 0 0 0;
    border-top: 1px $accent solid;
  }
}

.nav {
  margin: 0 0 2rem 0;
  &__link {
    display: block;
    text-align: center;
    font-family: Crimson Text;
    font-size: 1.625rem;
    color: $light;
    margin: 1.125rem 0;
    font-weight: 300;
    letter-spacing: 0.25rem;
    position: relative;
    cursor: pointer;
    z-index: 25;
    & a {
      position: relative;
      z-index: 25;
    }
    &:hover {
      color: $accent;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 1rem;
      transform: translate(-50%, -50%);
      background: rgba(20, 32, 41, 0.5);
      transition: all 0.2s ease-out;
      z-index: 20;
    }
    &:hover:before {
      width: 120%;
      height: 105%;
    }
  }
}

.column__button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
