@use "null.scss";
@use "hero.scss";
@use "nav.scss";
@use "icons.scss";
@use "about.scss";
@use "about-item.scss";
@use "works";
@use "works-item";
@use "contacts";
@use "contacts-item";

:root {
	--color1: #f7b7c2;
	--color2: #e87c91;
	--color3: #70263d;
	--color4: #4c5c66;
	--color5: #f1f1f1;

	--color-light: #f1f1f1;
	--color-light2: #7a929e;

	--color-dark: #384551;
	--color-dark2: #1d2833;

	--color-accent: #f8d5e0;
	--color-accent2: #ff4164;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: "Noto Sans", sans-serif;
	background: var(--color5);
}

.container {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

.btn {
	display: grid;
	place-content: center;
	width: 150px;
	padding: 8px 12px;
	background: transparent;
	font-size: 1rem;
	font-weight: 600;
	transition: all 0.15s ease-out;
	white-space: nowrap;
	border-radius: 4px;
}

.btn_primary {
	background: var(--color-accent2);
	color: var(--color-dark);
	border: 1px solid var(--color-accent2);
}

.btn_primary:hover {
	border-color: var(--color-light) !important;
	color: var(--color-light);
}

.btn_secondary {
	background: transparent;
	color: var(--color-accent2);
	border: 1px solid var(--color-accent2);
}

.btn_secondary:hover {
	border-color: var(--color-light) !important;
	color: var(--color-light) !important;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

.section {
	padding: 5rem 0;
}

a {
	transition: color 200ms ease;
}
