@use "variables" as *;

.works-item {
	margin-bottom: 5rem;

	&__title {
		font-size: 2.4rem;
		margin-bottom: 2rem;

		a {
			transition: color 0.2s ease-out;
			color: var(--color-accent2);
		}

		a:hover {
			color: var(--color-light);
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	&__tag {
		border-radius: 0.25rem;
		background-color: var(--color-dark);
		color: var(--color-light2);
		font-size: 0.8em;
		padding: 6px 14px;
	}

	&__descr-text {
		margin-top: 1rem;
		margin-bottom: 1rem;
		flex: 1 0 auto;
		font-size: 1rem;
		line-height: 1.6rem;
	}

	&__buttons {
		display: flex;
		gap: 1rem;
	}
}

.works-item__layout {
	display: flex;
	gap: 2rem;

	@media (max-width: $md) {
		display: block;
	}
}

.works-item__left {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.works-item__right {
	flex: 0 0 320px;
	width: 100%;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	@media (max-width: $md) {
		display: block;
		margin-top: 2rem;
	}
}

.work-item__image {
	border-radius: 2px;
	width: 100%;
	height: 100%;
	display: flex;
	cursor: pointer;
	opacity: 1;
	object-fit: cover;
}
